.image-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 8px;
    width: 32px;
    height: 32px;
    transition: background-color 0.2s ease;
}

.image-button:hover,
.image-button:active {
    background-color: rgb(224, 222, 222);
    cursor: pointer;
}